.draft-preview{
    padding: 20px;
    margin:0px 10px;
    overflow: scroll;
    height: calc(100% - 100px);
    font-size: 0.8rem;
}
/* .draft__container-wrapper{
    overflow-y: scroll;
    height: 100%;
} */