.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0056b3;
  padding: 10px 20px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo-img {
  width: 100px; /* Adjust the size as needed */
  color: #f8f9fa;
  font-weight: 600;
}
.header-options {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.header-options a {
  padding: 8px 12px;
  text-decoration: none;
  color: #f8f9fa;
  cursor: pointer;
}

.header-option{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.header-item{
  padding:6px;
}
.user-icon{
    margin: 8px 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f8f9fa;
}